body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 2rem;
  background: #eef2f3;
}

canvas {
  width: 90%;
  max-width: 2000px;
  height: auto;
  margin: 2rem auto;
  display: block;
}

/* MOBILE: canvas più grande */
@media (max-width: 960px) {
  canvas {
    max-width: 95%;
  }
}
